{%- assign post-date = page.date -%}
{%- assign post-title = page.title -%}
{%- assign post-author = page.author -%}
{%- assign post-tags = page.tags -%}

{%- if custom-date -%}
  {%- assign post-date = custom-date -%}
{%- endif -%}

{%- if custom-title -%}
  {%- assign post-title = custom-title -%}
{%- endif -%}

{%- if custom-author -%}
  {%- assign post-author = custom-author -%}
{%- endif -%}

{%- if post-tags -%}
  {%- assign post-tags = page.tags -%}
{%- endif -%}

<small>{{ post-date | date: "%-d %B %Y" }}</small>
<h1>{{ post-title }}</h1>

<p class="view">by {{ post-author | default: site.author }}</p>

{{content}}

{%- if post-tags -%}
  <small>tags: <em>{{ post-tags | join: "</em> - <em>" }}</em></small>
{%- endif -%}
