---
---

@import "{{ site.theme }}";


ul.posts {
    background: none;
    border: none;
}

ul.posts li {
    border:none;
    width: auto;
    float: none;
}

ul.posts li a 
{
    color: #267cb9;
    font-size: 14px;
    width: unset;
    text-align: left;
}
